@using WebStore.Common.DataOperator.ViewModels
@using WebStore.Common.DataOperator.BindingModels
@using WebStore.App.Helpers
@using WebStore.Models
@using WebStore.App.Extensions
@using WebStore.App.Helpers.Messages
@namespace WebStore.App.Areas.DataOperator.Views
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, WebStore.App
<a href="~/Areas/DataOperator/Views/_ViewImports.cshtml">~/Areas/DataOperator/Views/_ViewImports.cshtml</a>