@model CategoryConciseViewModel

<tr>
    <td><a asp-area="DataOperator" asp-controller="Categories" asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a></td>
    <td>@Model.ProductsCount</td>
</tr>
