@model IEnumerable<CategoryConciseViewModel>

@{
    ViewData["Title"] = "All categories";
}

<h2>All Categories</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Products Count</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForModel()
    </tbody>
</table>
