@model ProductBindingModel

@{
    ViewData["Title"] = "Add new product";
}

<h2>Add Product</h2>

<form asp-area="DataOperator" asp-controller="Products" asp-action="Add" method="post" class="form-horizontal">
    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-sm-10 col-sm-push-2">
            <input type="submit" value="Add Product" class="btn btn-success" />
            <input type="reset" class="btn btn-default" value="Cancel">
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}